@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 1024px;
    height: 700px;
    background-color: #E5E5E5;
}

header {
    background-color: #222222;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.logopizza {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
}

.parrafoheader {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    padding-left: 10px;
    font-weight: bold;
}

.colorpizza {
    color: green;
}

.colorfront {
    color: red;
}

.navegacion a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.navegacion {
    width: 500px;    
    display: flex;
    justify-content: space-between;
    padding-right: 35px;
}

main {
    display: flex;
    width: 100%;
    margin: 55px auto;
    justify-content: space-between;
}

.repartidor {
    background-image: url("./images/delivery.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 47.5%; 
    height: 350px;
    margin-left: 20px;    
}

.repartidor h2 {
    padding: 20px;
    font-size: 24px;
    color: #FC200C;
}

.comprando {
    color: white;
}

.podio {
    width: 47.5%;
    margin-right: 20px;
    background-color: white;
}

.podio h2 {
    text-align: center;
    color: red;
    font-size: 24px;
    padding-top: 26px;
    display: block;
}

.lista {
    display: flex;
    width: 100%;
    height: 300px;
}

.columna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.arbolito {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arbolito img {
    height: 129px;
}

.titulopodio {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.listapodio {
    display: flex;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    margin-left: 50px;
}

footer {
    height: 150px;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
}
.navegacion2 {
    height: 110px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navegacion2 a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.logopizza2 {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    margin-right: 42px;
}